/* general */

html,
body {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    background-color: #F2F0F0;
    font-size: 1.2rem;
    color: #666;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

h1 {
    padding: 20px 0 0 0;
    margin: 0;
    text-transform: uppercase;
    font-size: .9rem;
    text-align: center;
}

label {
    font-size: .7rem;
}

#charting {
    width: 1100px;
    margin: 60px auto;
    background-color: #fff;
    border: 1px solid #ddd;
    padding-left: 20px;
}

#weight-tracker {
    text-align: center;
    border-radius: 3px;
    background-color: #fff;
    width: 680px;
    float: left;
    position: relative;
}

#calories {
    float: left;
    margin-top: 50px;
    position: relative;
}

h2 {
    font-size: .6rem;
    margin: 0;
    text-align: center;
    position: absolute;
    left: 100px;
}

#radios {
    text-align: left;
    position: absolute;
    left: 45px;
    top: -28px;
    width: 113px;
}

#radios label {
    margin-top:-5px;
    display: inline-block;
}

p {
    font-size: .8rem;
    margin: 8px 0 0;
}

.d3 {
    margin:10px 0 0;
    font-size: .5rem;
}

svg {
    background-color: #fff;
    border-radius: 5px;
    margin: 0;
}

/* axes */

.y {
    stroke-width: 0;
    transition: opacity .5s;
    opacity:0;
}
.grid {
    stroke-width: 1;
    transition: opacity .5s;
    opacity:0;
}

.axis path,
.axis line {
    fill: none;
    stroke: #999;
    shape-rendering: crispEdges;
}

text {
    font-family: sans-serif;
    font-size: 11px;
}

.grid .tick {
    stroke: #e5e5e5;
    opacity: 0.7;
}
.grid path {
    stroke-width: 0;
}

.tick text {
    fill: #444;
    opacity: 0.7;
}

/* plots */

.bubble {
    fill:#1E8F27;
    stroke: #fff;
    stroke-width: 1;
}

.bubble.active {
    fill: #333;
}

/* tooltips */

.tip {
    fill: #666666;
    opacity: 0;
}

.tip.active {
    fill:#c5c5c5;
    stroke-width: 0;
    opacity: .8;
    width: 80px;
    height: 40px;
    mask: url(#dropshadow);
    box-shadow: 1px 2px 1px #333;
}

.tip text {
    fill: #000;
    font-weight: normal;
    text-anchor: middle;
    stroke-width:0;
}

.tip .date {
    font-size: 10px;
}

.tip .weight {
    font-size: 12px;
    font-weight: bold;
}


#daily-permitted,
#calories-remaining {
    font-size: 2.5rem;
    fill: #666;
}

#daily-permitted-text,
#calories-remaining-text {
    opacity: 0;
    font-size: .6rem;
    fill: #1E8F27;
}
#daily-permitted-text.visible,
#calories-remaining-text.visible {
    opacity: 1;
}

#calories-remaining {
    font-size: 1.5rem;
}

.info {
    font-size: .6rem;
    font-weight: normal;
    fill: #333;
    opacity: 0;
}

#today {
    font-weight: bold;
    fill: #1E8F27;
}

.visible {
    opacity: 1;
}

svg {
    display: block;
}

